
body {
    background-color: lightcyan;
}

h3 {
    color: lightcoral;
    font-family: 'Roboto', sans-serif;
}

label {
    margin-left: 30px;
    color: lightslategray;
}

input {
    width: 30px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: lightblue;
}

td {
    position: relative;
    height: 70px;
    width: 70px;
    padding: 4px;
    border: 1px solid;
    background-image: url(../img/question.svg);
}

img {
    height: 70px;
    width: 70px;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s  ease-in-out;;
}

span {
    color: lightcoral;
}

